.D1 {
    overflow: hidden;
    background-color: #333;
}

.D1 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.D1 a:hover {
    background-color: #ddd;
    color: black;
}

.D1 a.active {
    background-color: #e79110;
    color: white;
}

.S1 {
    /* background-image: url(../assects/BG.jpg); */
    background-color: antiquewhite;
    background-size: cover;
    height: 800px;
}

.D2 {
    overflow: hidden;
    background-image: linear-gradient(45deg, purple, cyan);
    font-weight: bolder;
    font-size: 80px;
    font-family: Georgia, serif;
    padding-left: 20px;
    color: darksalmon;
}

.D3 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    backdrop-filter: blur(10px);
    color: rgb(39, 252, 252);
}

a {
    text-decoration: none;
    color: red;
}

.CD {
    font-size: 20px;
    text-align: center;
}

.CC {
    position: fixed;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    color: red;
}

.V1 {
    width: 5px;
    height: 50%;
    background-color: pink;
    margin-bottom: 7px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 9px;
    border-width: 4px;
    border-color: rgb(255, 0, 55);
}

.D4 {
    padding-left: 20px;
}