.D1 {
    overflow: hidden;
    background-color: #333;
    width:408.488px;
}

.D1 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.D1 a:hover {
    background-color: #ddd;
    color: black;
}

.D1 a.active {
    background-color: #e79110;
    color: white;
}

.S1 {
    background-color: rosybrown;
    height: 250px;
    padding-top: 10px;
}

.CD {
    font-size: 20px;
    text-align: center;
}

.CC {
    position: fixed;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    color: red;
}

#A1 {
    text-decoration: none;
    color: red;
}

#D2 {
    padding-top: 20px;
    padding-left: 20px;
    border-left: 20px aquamarine ridge;
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#D3 {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
}

#A2 {
    text-decoration: none;
    color: greenyellow;
    border: #333 10px ridge;
    padding-bottom: 5px;
}

#A3 {
    text-decoration: none;
    color: greenyellow;
    border: #333 10px ridge;
}

.S2 {
    background-color: aquamarine;
    height: 300px;
    padding-top: 10px;
}

#D4 {
    padding-top: 20px;
    padding-left: 20px;
    border-left: 20px rosybrown ridge;
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

#I1 {
    padding-top: 30px;
    padding-left: 50px;
    height: 70px;
    width: 70px;
}

#I2 {
    padding-top: 30px;
    padding-left: 50px;
    height: 70px;
    width: 90px;
}