#P1 {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    color: gray;
}

#demo {
    height: 50px;
    width: 100px;
    color: cornsilk;
    background-color: black;
    border-radius: 50%;
}

.background {
    background-image: url(../assects/BGA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

.D1 {
    overflow: hidden;
    background-color: #333;
}

.D1 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.D1 a:hover {
    background-color: #ddd;
    color: black;
}

.D1 a.active {
    background-color: #e79110;
    color: white;
}

#A1 {
    text-decoration: none;
    color: red;
}

.CD {
    font-size: 20px;
    text-align: center;
}

.CC {
    position: fixed;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    bottom: 10px;
    color: red;
}